
<h3>Ask for food delivery:</h3><a href="/voiddeck/offers/create">or help deliver to others!</a>

<br>



<div class="container">
  <form action="/voiddeck/requests/create" method="POST">

    <div class="modal-body row">
      <div class="form-group col-md-4">
        <label for="foodItem">Help me buy:</label>
        <input type="text" class="form-control" id="foodItemInput" placeholder="curry puff" name="foodItem">
      </div>
      <!-- <div class="form-group col-md-4">
        <label for="foodShop">From:</label>
        <input class="form-control" id="foodShopInput" placeholder="Old Chang Kee" name="foodShop">
      </div> -->
      <div class="form-group col-md-4">
        <label for="destination">Deliver to:</label>
        <input type="text" class="form-control" id="destinationInput" placeholder="Cinnamon College lift lobby" name="destination">
      </div>
    </div>

    My available collection day and time:

    <div class="modal-body row">
      <div class="form-group col-md-4">
        <label for="collectionStartDate">From (Date):</label>
        <input class="form-control" type="date" value="2017-05-11" id="collectionStartDate" name="collectionStartDate">
      </div>
      <!-- <div class="form-group col-md-4">
        <label for="collectionStartTime">From (Time):</label>
        <input class="form-control" type="time" id="collectionStartTime" name="collectionStartTime">
      </div> -->
      <div class="form-group col-md-2">
        <label for="collectionStartHour">From (Hour):</label>
        <input class="form-control" type="number" min="0" max="23" id="collectionStartHour" name="collectionStartHour">
      </div>
      <div class="form-group col-md-2">
        <label for="collectionStartMin">From (Min):</label>
        <input class="form-control" type="number" min="0" max="59" id="collectionStartMin" name="collectionStartMin">
      </div>
    </div>

    <div class="modal-body row">
      <div class="form-group col-md-4">
        <label for="collectionEndDate">To (Date):</label>
        <input class="form-control" type="date" value="2017-05-11" id="collectionEndDate" name="collectionEndDate">
      </div>
      <!-- <div class="form-group col-md-4">
        <label for="collectionEndTime">To (Time):</label>
        <input class="form-control" type="time" id="collectionEndTime" name="collectionEndTime">
      </div> -->
      <div class="form-group col-md-2">
        <label for="collectionEndHour">To (Hour):</label>
        <input class="form-control" type="number" min="0" max="23" id="collectionEndHour" name="collectionEndHour">
      </div>
      <div class="form-group col-md-2">
        <label for="collectionEndMin">To (Min):</label>
        <input class="form-control" type="number" min="0" max="59" id="collectionEndMin" name="collectionEndMin">
      </div>
    </div>

    <!-- <div class="modal-body row">
      <div class="form-group col-md-6">
        <label for="destination">Deliver to:</label>
        <input type="text" class="form-control" id="destinationInput" placeholder="Cinnamon College lift lobby" name="destination">
      </div>
      <div class="form-group col-md-6">
        <label for="latestBy">Latest by this time:</label>
        <input class="form-control" id="latestByInput" placeholder="9pm (change this to dropdown)" name="latestBy">
      </div>
    </div> -->

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
