
<h3>Make a delivery request!</h3>

<br>


<form action="/voiddeck/requests/create" method="POST">
  <div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><label for="food">Help me buy:</label></td>
          <th><textarea name="food" rows="2" cols="40" placeholder="Please state item, quantity, and shop's name. (e.g. 1 X Curry puff from Old Chang Kee)"></textarea></th>
        </tr>
        <tr>
          <td><label for="destination">Deliver to:</label></td>
          <th>
            <select name="destination">
              <option value="Cinnamon College Lift Lobby">Cinnamon College Lift Lobby</option>
              <option value="CAPT Lift Lobby">CAPT Lift Lobby</option>
              <option value="Tembusu College Lift Lobby">Tembusu College Lift Lobby</option>
              <option value="NUS-Yale Lift Lobby">NUS Yale Lift Lobby</option>
            </select>
          </th>
        </tr>
        <tr>
          <td>
            <label for="from">Collection Time:</label>
          </td>
          <th>
            <select class="from" name="collectionFrom"></select>
          </th>
        </tr>
        <tr>
          <td>
            <label for="to">To:</label><br>
          </td>
          <th>
            <select class="to" name="collectionTo"></select>
          </th>
        </tr>
        <tr>
          <td>
            <label for="rewards">Rewards:</label>
          </td>
          <th>
            <select class="rewards" name="rewards">
              <% for (let i=1; i<=currentUser.tokens; i++) { %>
                <option value="<%= i %>"><%= i %> x Token(s)</option>
              <% } %>
            </select>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="submit-btn">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
