<h3>Edit your request:</h3>

<form action="/voiddeck/requests/<%= request._id %>?_method=PUT" method="POST">
  <div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><label for="food">Help me buy:</label></td>
          <th><textarea name="food" rows="1"><%= request.food %></textarea></th>
        </tr>
        <tr>
          <td><label for="destination">Deliver to:</label></td>
          <th>
            <select name="destination">
              <option value="Cinnamon College Lift Lobby">Cinnamon College Lift Lobby</option>
              <option value="CAPT Lift Lobby">CAPT Lift Lobby</option>
              <option value="Tembusu College Lift Lobby">Tembusu College Lift Lobby</option>
              <option value="NUS-Yale Lift Lobby">NUS Yale Lift Lobby</option>
            </select>
          </th>
        </tr>
        <tr>
          <td>
            <label for="from">Collection Time:</label>
          </td>
          <th>
            <select class="from" name="collectionFrom"></select>
          </th>
        </tr>
        <tr>
          <td>
            <label for="to">To:</label>
          </td>
          <th>
            <select class="to" name="collectionTo"></select>
          </th>
        </tr>
        <tr>
          <td>
            <label for="rewards">Rewards:</label>
          </td>
          <th>
            <select class="rewards" name="rewards">
              <option>Select tokens</option>
              <% for (let i=1; i<=tokens; i++) { %>
                <option value="<%= i %>"><%= i %> x Token(s)</option>
              <% } %>
            </select>
          </th>
        </tr>
        <tr><td><th></th></td></tr>
      </tbody>
    </table>
    <div class="submit-btn">
      <button type="submit" class="btn btn-default">Edit</button>
    </div>
  </div>
</form>
