<h2>Home</h2>

<h2>Some call to action here</h2>

<h2>maybe add the list of requests here</h2>

<% include voiddeck/requests %>

<h3>actually how about consider putting a list or recent activities
on the app here instead? like user3 helped 5 other users deliver
food and user2 just bought food for user8 10 mins ago...</h3>
<h3>can put in a waterfall display feature</h3>
