<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/js/moment.js"></script>
  <script>
    moment().format();
  </script>




  <title>Tapau App</title>
</head>
<body>
  <div class="container" id="testtest">

      <nav class="header clearfix">
        <!-- <nav> -->
          <div class="nav nav-pills pull-left">
            <div><h3><a href="/voiddeck/requests/view">Tapau</a></h3></div>
            <% if (currentUser) { %>
            <div id="token"><img style="width: 20px;" src="/img/token.png">  X <%= currentUser.tokens %></div>
            <% } %>

          </div>
          <!-- <ul class="nav nav-pills pull-right"> -->
          <% if (currentUser) { %>

          <ul class="nav nav-tabs pull-right user-menu">
            <!-- <li role="presentation"><a href="/voiddeck/requests/create">I'm hungry!</a></li> -->
            <li role="presentation"><a href="/voiddeck/requests/view">Help Deliver</a></li>
            <li role="presentation"><a href="/voiddeck/requests/create">Your Requests </a></li>
            <!-- <li role="presentation"><a href="/voiddeck/requests/accepted">Requests Accepted</a></li> -->
            <!-- <li role="presentation"><a href="/profile">Profile</a></li> -->
            <li role="presentation"><a href="/logout">Sign out</a></li>
            <!-- <ul class="menu"> -->
            <!-- <li class="dropdown" role="presentation">
              <a href="...">User Name ▼</a>
              <ul class="submenu">
                <li role="presentation"><a href="...">Requests Made</a></li>
                <li role="presentation"><a href="...">Requests Accepted</a></li>
                <li role="presentation"><a href="...">Logout</a></li>
              </ul>
            </li> -->


          </ul>
          <% }; %>
          <% if (!currentUser) { %>
          <ul class="nav nav-tabs pull-right guest-menu">
            <li role="presentation"><a href="/register">Register</a></li>
            <li role="presentation"><a href="/login">Log in</a></li>
          </ul>
          <% }; %>
          <!-- </ul> -->
        <!-- </nav> -->
        <!-- <h3 class="text-muted"><a href="/voiddeck/requests/view">Tapau</a></h3> -->
      </nav>

      <!-- <% if (currentUser) { %>
        <h5>Hi <%= currentUser.name %></h5>
      <% }; %> -->

      <!-- <div class="row marketing"> -->



          <%- body %>
          <!-- <%- JSON.stringify(currentUser) %> -->

          <% include partials/alerts %>

      <!-- </div> -->
      <footer class="footer">
        <p>&copy; 2016 Tapau Inc</p>
      </footer>

    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>
