
body {
  background: url(../img/second-HDB.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}

table>tbody>tr.remove-border-top,
table>tbody>tr>td.remove-border-top,
table>tbody>tr>th.remove-border-top {
  border-top-color: white;
}

table.table {
  margin-bottom: 0;
}

.request-right {
  margin-left: 15px;
  text-align: center;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
  .request-container {
    display: block;
    /*margin: 0 10px;*/
  }
  .btn-group-md {
    display: flex;
    justify-content: center;
  }
  .btn-group-md>button {
    margin: 0 5px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
  .request-container {
    margin: 0 10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .request-container {
    display: flex;
    margin: 0 10px;
  }
  .request-left {
    flex-grow: 1;
  }
  .request-right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .btn-group-md {
    display: block;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.container {
  max-width: 80rem;
  background-color: white;
  border-radius: 18px;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.body-container {
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  padding: 15px;
}

.submit-btn {
  text-align: center;
}
